@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Roboto:wght@400;500&display=swap');

//fonts

$mainFont: 'Roboto', sans-serif;
$textFont: 'Ibarra Real Nova', serif;


//sizes

$mainSize: 1.5em;
$textSize: 1em;